/*Google Font*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color: #d90429;
    --text-color: #020102;
    --bg-color: #fff;
}


/* Custom scroll Bar */

html::-webkit-scrollbar {
    width: 0.5rem;
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    border-radius: 5rem;
    background: var(--text-color);
}

img {
    width: 100%;
    overflow: hidden;
}

body {
    color: var(--text-color);
}

.container {
    max-width: 1068px;
    margin: 0 auto;
}

header {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--bg-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

section {
    padding: 4rem 0 2rem;
}


/*NavBar*/

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    display: none;
}

.logo {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
}

.logo span {
    color: var(--main-color);
}

.navbar {
    display: flex;
    column-gap: 2rem;
}

.navbar a {
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar a:hover,
.navbar.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
    transition: all .1s ease-out;
}

#search-icon {
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
}

#search-icon:hover {
    transform: scale(1.5);
    transition: all .3s;
}

.search-box {
    position: absolute;
    top: 110%;
    right: 0;
    left: 0;
    background: var(--bg-color);
    box-shadow: 4px 4px 20px rgb(15 54 55 /10%);
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
    clip-path: circle(0% at 100% 0%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box .search-btn {
    margin-right: 20px;
    border: none;
    outline: none;
    background: var(--main-color);
    color: #fff;
    padding: 5px;
    font-weight: 600;
    border-radius: 0.5rem;
    cursor: pointer;
    display: inline-block;
}

.search-box .search-btn:hover {
    background: var(--bg-color);
    color: var(--main-color);
    border: 1px solid var(--main-color);
    transition: all .3s ease;
}

.search-box.active {
    clip-path: circle(144% at 100% 0%);
    transition: .4s;
}

.search-box input {
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
}


/* Home */

.home {
    max-width: 1300px;
    margin: auto;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items: center;
    background: url(../image/Background-home.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
}

.home-text {
    padding-left: 130px;
}

.home-text h1 {
    font-size: 2.4rem;
}

.home-text span {
    color: var(--main-color);
}

.home-text p {
    font-size: 0.938rem;
    font-weight: 300;
    margin: 0.5rem 0 3rem;
}

.btn {
    padding: 10px 22px;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 600;
    border-radius: 0.5rem;
    box-shadow: rgba(165, 6, 6, 0.35) 0px 10px 25px;
}

.btn:hover {
    background: var(--bg-color);
    color: var(--main-color);
    border: 1px solid var(--main-color);
    transition: all .3s ease;
}


/* Car section */

.heading {
    position: relative;
    text-align: center;
}

.heading p {
    font-weight: 700;
    color: var(--main-color);
    font-size: 1.5rem;
    text-transform: uppercase;
}

.heading h2 {
    font-size: 1.5rem;
    text-transform: capitalize;
}

.heading span {
    font-size: 0.938rem;
    font-weight: 400;
}

.cars-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem;
}

.cars-container .box {
    position: relative;
    height: 200px;
    overflow: hidden;
}

.cars-container .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    overflow: hidden;
    cursor: pointer;
}

.cars-container .box img:hover {
    transform: scale(1.1);
    transition: all .3s;
}

.cars-container .box h2 {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-weight: 700;
    font-size: 1rem;
    background: var(--main-color);
    color: #fff;
    padding: 8px;
    border-radius: 0.5rem;
    text-transform: capitalize;
    cursor: pointer;
}

.cars-container .box:hover h2 {
    background: var(--bg-color);
    color: var(--main-color);
    border: 1px solid var(--main-color);
    transition: all .5s ease;
}

.actions {
    position: absolute;
    display: flex;
    font-weight: 700;
    font-size: 1rem;
    background: transparent;
    bottom: 1rem;
    right: 1rem;
    display: none;
    align-items: center;
}

.actions i {
    color: var(--bg-color);
    font-size: 1.8rem;
    padding: 8px;
    border-radius: 0.5rem;
}

.actions i:hover {
    color: var(--main-color);
    background-color: var(--bg-color);
    transition: all .3s ease;
}

.cars-container .box:hover .actions {
    display: block;
    transition: all .6s ease-out;
}


/* About */

.about {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1.5rem;
    align-items: center;
}

.about-image {
    align-items: center;
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-text h1 {
    color: var(--main-color);
    font-size: 2rem;
}

.about-text h2 {
    font-size: 1.5rem;
    text-transform: capitalize;
}

.about-text p {
    font-size: 0.938rem;
    margin: 0.5rem 0 1.4rem;
}


/* Parts */

.part-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem;
}

.part-container .box {
    position: relative;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background: #f6f6f6;
    border-radius: 0.5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    gap: 10px;
}

.part-container .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 1rem;
    cursor: zoom-in;
}

.part-container .box h3 {
    color: var(--main-color);
    text-transform: capitalize;
    font-weight: 700;
    cursor: pointer;
}

.part-container .box h3:hover {
    transform: scale(1.1);
    transition: .3s;
}

.part-container .box span {
    font-weight: 700;
}

.part-container .box i {
    color: var(--main-color);
}

.part-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.part-button .details {
    color: var(--text-color);
    text-transform: capitalize;
    font-weight: 700;
}

.part-button .details:hover {
    color: var(--main-color);
    transition: 0.3s;
}


/*Blog session */

.blog-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem;
}

.blog-container .box {
    padding: 20px;
    cursor: pointer;
}

.blog-container .box:hover {
    background: #f6f6f6;
    transition: .3s;
    border-radius: 10px;
}

.blog-container .box img {
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}

.blog-container .box img:hover {
    transform: translateY(-10px);
    transition: .4s;
}

.blog-container .box span {
    font-size: 0.8rem;
    color: var(--main-color);
}

.blog-container .box h3 {
    font-size: 1.3rem;
    text-transform: capitalize;
}

.blog-container .box h3:hover {
    color: var(--main-color);
    transition: .4s;
}

.blog-container .box p {
    font-size: 0.938rem;
    margin: 4px 0;
}

.blog-container .box .blog-btn {
    display: flex;
    align-items: center;
    column-gap: 4px;
    color: var(--text-color);
    padding: 5px;
}

.blog-container .box .blog-btn bx {
    font-size: 40px;
}

.blog-container .box .blog-btn:hover {
    color: var(--main-color);
    column-gap: 8px;
    transition: .4s;
}


/*Footer */

.footer {
    background-color: var(--text-color);
    color: #f6f6f6;
    border-top: 2px solid var(--main-color);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.footer-container .logo {
    color: var(--bg-color);
    margin-bottom: 1rem;
}

.footer-container .footer-box {
    display: flex;
    flex-direction: column;
}

.social-link {
    display: flex;
    align-items: center;
}

.social-link a {
    font-size: 24px;
    color: var(--bg-color);
    margin-right: 1rem;
}

.social-link a:hover {
    color: var(--main-color);
}

.footer-box h3 {
    font-style: 1.1rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.footer-box a {
    color: #818181;
    margin-bottom: 10px;
}

.footer-box a:hover {
    color: var(--bg-color);
}

.copyright {
    padding: 20px;
    text-align: center;
    color: var(--bg-color);
    background-color: var(--text-color);
}


/* Responsive */

@media (max-width:1080px) {
    .container {
        margin-right: 1rem;
        margin-left: 1rem;
    }
}

@media (max-width:991px) {
    .nav {
        padding: 15px 20px;
    }
    section {
        padding: 3rem 0 1 rem;
    }
    .home-text {
        padding-left: 2rem;
    }
    .home-text h1 {
        font-size: 2.1rem;
    }
}

@media (max-width:768px) {
    .search-box input {
        padding: 15px;
    }
    .nav {
        padding: 10px 0;
    }
    #menu-icon {
        display: initial;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        row-gap: 0.5rem;
        text-align: center;
        box-shadow: 4px 4px 20px rgb(15 54 54 / 20%);
        clip-path: circle(0% at 0% 0%);
        transition: 0.6s;
        color: var(--bg-color);
    }
    .navbar a {
        display: block;
        padding: 15px;
    }
    .navbar a:hover,
    .navbar .active {
        border-bottom: none;
        background: var(--main-color);
        color: var(--bg-color);
    }
    .navbar.active {
        clip-path: circle(144% at 0% 0%);
    }
    .cars-container,
    .part-container,
    .blog-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .blog-container .box {
        padding: 4px
    }
}

@media (max-width:390px) {
    .search-box input {
        padding: 11px;
    }
    .home {
        min-height: 500px;
    }
    .home-text h1 {
        font-size: 2rem;
    }
    .home-text p br {
        display: contents;
    }
    .cars-container,
    .about,
    .part-container,
    .blog-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}